* {box-sizing:border-box}

html{
	width: 100%;
	height: 100%;
}

body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}

.page-container{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: red;*/
}

div[data-role="page"]{
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	padding: 16px;
}

div#splashscreen[data-role="page"]{
	z-index: 500;
	background-image: url(../img/splashscreen_bg.png);
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

div#login[data-role="page"]{
	z-index: 500;
	background-image: url(../img/splashscreen_bg.png);
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}